.form-container {
    height: 100vh;
    overflow: hidden;
}

.form-left {
    background: rgb(26, 26, 26);
    height: 100%;
    padding: 3rem 2rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitle {
    opacity: 0.8;
}

.form-right {
    background: rgb(36, 36, 36);
    height: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    width: 100%;
    max-width: 400px;
}