# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json.*
.bun-install-cache

# Builds / coverage
dist/
build/
coverage/
.nyc_output/

# Env & local
.env
.env.*
!.env.example

# Editors / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.log
