/** 
 * Author: Leon Wasiliew 
 * Last Update: 2026-03-21
 * Description: Styles for the APp component
 */

/** TODO: Implement styles for the App component if required. */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */